.label {
    -fx-background-color: #beedc3;
    -fx-border-color: #244f29;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #244f29;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    -fx-scale-x: 1;
    -fx-scale-y: 1;

    -fx-rotate: 0;
}

