.root {
    main-color: #7f94b5;
    -fx-background-color: linear-gradient(to top left, #5e95eb, #2f66bd);
}

.text-field {
    -fx-background-color: #c5d5ed;
    -fx-font: 16px "Arial";
}

.button {
    -fx-background-color: #20e385;
    -fx-font: italic bold 16px "Georgia";
}

.button:hover {
    -fx-background-color: cyan;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: orange;
    -fx-font-size: 18px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #f07171;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

